#main-game-container{
    height: 100vh;
    width: 100vw;
}

#game-information-bar{
    width: 100%;
    height: fit-content;
}

#game-scoreboard-container{
    border: 1px solid black;
    height: 100%;
    padding: 0px;
    padding-left: 12px;
}
#game-draw-container{
    border: 1px solid black;
    height: 100%;
}
#game-chat-container{
    border: 1px solid black;
    height: 100%;
}

#game-word-container{
    width: 100%;

    padding: 12px 0px;
    /* margin: 12px 0px; */
}

#game-canvas-container{
    width: 100%;
    height: fit-content;
}