#scoreboard-container{
    overflow-y: scroll;
    width: 50%;

    margin: auto;
}

.score-record{
    border: 1px solid gray;

    width: 100%;

    margin: 12px auto;
}

.rank-indicator{
    font-size: large;
    font-weight: 700;

    margin: auto;
}